<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		{% block metatags %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block icons %}{% endblock %}
	    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
		{% block topheader %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
