{% extends 'layout.html.twig' %}

{% block title %}
	MyCodeIgniter | Show Profile
{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span7">
<h2 class="page-header">your information</h2>
</div>
<div class="span5">
<h3 class="page-header">your location</h3>
</div>
</div>
{% endblock %}