{% extends 'layout.html.twig' %}

{% block title %}
	AfterSchool | Show Program
{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span7">
<h2 class="page-header">your information</h2>
<h5>Program Info</h5>
<br/>
<h6>Account Info</h6>
</div>
<div class="span5">
<h3 class="page-header">your location</h3>
</div>
</div>
{% endblock %}